#map { 
    height: 600px;
    width: 600px; 
}

#camera {
    width: 640px;
    height: 480px;
}

#gas-dial-container {
    width: 300px;
}

.header-img {
    background-image: url("../img/johan_sverdrup_blur.jpg");
    background-size: 1920px 600px;
    height: 600px;
    width: 100%;
    padding: 150px;
    font-size: 150px;
    color: white;
    text-shadow: 4px 4px 2px #535353;
}

.footer-img {
    background-image: url("../img/johan_sverdrup_blur_bottom.jpg");
    background-size: 1920px 200px;
    height: 100px;
    width: 100%;
    filter: brightness(50%);
}

.nav-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

#connection-symbol {
    margin-left: 15px;
}

#following-btn {
    width: 200px;
}