<?xml version="1.0"?>

<model>
  <name>TurtleBot3 World Eva B</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>  

  <author>
    <name>Kristoffer Nesland</name>
    <email>kristofn@stud.ntnu.no</email>
  </author>

  <description>
    Simple world inspired by the Peon platform.
  </description>
</model>
