<launch>

    <param name="/eva/gasX" value="3.0" />
    <param name="/eva/gasY" value="-3.0" />

    <param name="/eva/mapWidth" value="384" />
    <param name="/eva/mapHeight" value="384" />
    <param name="/eva/mapPixelsPerMeter" value="20" />

    <param name="/eva/scanRayDistanceThreshold" value="0.3" />

    <param name="/eva/maxCircleRadii" value="0.5" />
    <param name="/eva/minCircleRadii" value="0.1" />

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_eva_b.launch"/>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
	  <arg name="map_file" value="$(find eva_a)/map/map.yaml" />
    </include>

    <node pkg="web_video_server" name="web_video_server" type="web_video_server"/>
    <node pkg="tf2_web_republisher" name="tf2_web_republisher" type="tf2_web_republisher"/>
    <node pkg="eva_a" name="route_server" type="follow_route_server.py"/>
    <node pkg="eva_a" name="gas_level" type="gas_level_publisher.py"/>
    <node pkg="eva_a" name="gas_center" type="gas_center_server.py"/>

</launch>
