<launch>

    <include file="$(find eva_a)/launch/set_gas_parameters.launch"/>

    <include file="$(find eva_a)/launch/vg12_sim.launch"/>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
    <node pkg="web_video_server" name="web_video_server" type="web_video_server"/>
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
	  <arg name="map_file" value="$(find eva_a)/map/map.yaml" />
    </include>

    <node pkg="image_transport" name="republish" type="republish" args="compressed in:=camera/rgb/image_raw raw out:=turtlebot3_camera"/>
    <node pkg="tf2_web_republisher" name="tf2_web_republisher" type="tf2_web_republisher"/>
    <node pkg="eva_a" name="gas_level" type="gas_level_publisher.py"/>
    <node pkg="eva_a" name="thermal_center" type="thermal_center.py"/>

    <param name="/amcl/initial_pose_x" value="0.0" />
    <param name="/amcl/initial_pose_y" value="0.0" />
    
</launch>
