<launch>

    <include file="$(find eva_a)/launch/turtlebot3_eva_b.launch"/>
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
	  <arg name="map_file" value="$(find eva_a)/map/map.yaml" />
    </include>

    <param name="/amcl/initial_pose_x" value="1.0" />
    <param name="/amcl/initial_pose_y" value="-3.0" />
    
</launch>
